/*Background color*/
body {background-color: #FFFFFF;}



/*Text characteristics*/
.red{
 color:#E85A4F;
}
.redcenter{
 color:#E85A4F;
 text-align:center;
 font-weight:bold;
}
h1{
  color:#003f5c;
  text-align:left;
  font-weight:bolder;
}
h4{
  text-align:center;
  font-weight:bold;
}
.unorderedList{
  text-indent:30px;
}
.right{
  text-align:right;
}



 